In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import pandasql as ps

%pylab inline


import statsmodels.formula.api as smf

Populating the interactive namespace from numpy and matplotlib

In [3]:
df1 = pd.read_csv('olist_orders_dataset.csv')

df2 = pd.read_csv('olist_order_payments_dataset.csv')
df3 = pd.read_csv('olist_order_items_dataset.csv')

df4 = pd.read_csv('olist_order_reviews_dataset.csv')

df5 = pd.read_csv('olist_customers_dataset.csv')

df6 = pd.read_csv('olist_products_dataset.csv')

In [10]:
df5.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [13]:
#testing pandasql, it works 
q1 = "SELECT * FROM df5 Where customer_city = 'franca'"
test = ps.sqldf(q1,locals())
test.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,b9885472fa562ddc1cb5333a42b654fc,2767ebe1fedf70562aa588a37a23080a,14401,franca,SP
2,5dca924cc99eea2dc5ba40d11ec5dd0f,2761fee7f378f0a8d7682d8a3fa07ab1,14409,franca,SP
3,de3fa59dd658cd8b47a1634125047c01,fa87e5558d2010f19641ca49363d5a1a,14405,franca,SP
4,0489975a325480c9e385e9f135bb13c3,b577af9a54b023b4bcc51f69bb937f1c,14406,franca,SP

In [5]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
customer_id                 99441 non-null object
customer_unique_id          99441 non-null object
customer_zip_code_prefix    99441 non-null int64
customer_city               99441 non-null object
customer_state              99441 non-null object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [33]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
order_id               112650 non-null object
order_item_id          112650 non-null int64
product_id             112650 non-null object
seller_id              112650 non-null object
shipping_limit_date    112650 non-null object
price                  112650 non-null float64
freight_value          112650 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [34]:
df3.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [4]:
#first merge orders and payments table

inner_merge = pd.merge(df1, df2, on = 'order_id', how = 'inner')

In [5]:
#second merge orders, payments, customers tables
inner_merge2 = pd.merge(inner_merge, df5, on = 'customer_id', how = 'inner')

In [8]:
inner_merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103886 entries, 0 to 103885
Data columns (total 16 columns):
order_id                         103886 non-null object
customer_id                      103886 non-null object
order_status                     103886 non-null object
order_purchase_timestamp         103886 non-null object
order_approved_at                103711 non-null object
order_delivered_carrier_date     101998 non-null object
order_delivered_customer_date    100754 non-null object
order_estimated_delivery_date    103886 non-null object
payment_sequential               103886 non-null int64
payment_type                     103886 non-null object
payment_installments             103886 non-null int64
payment_value                    103886 non-null float64
customer_unique_id               103886 non-null object
customer_zip_code_prefix         103886 non-null int64
customer_city                    103886 non-null object
customer_state                   103886 non-null object
dtypes: float64(1), int64(3), object(12)
memory usage: 13.5+ MB

In [6]:
#third merge previous 3 tables with order reviews table 

inner_merge3 = pd.merge(inner_merge2, df4, on = 'order_id', how = 'inner')

In [12]:
inner_merge3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104485 entries, 0 to 104484
Data columns (total 22 columns):
order_id                         104485 non-null object
customer_id                      104485 non-null object
order_status                     104485 non-null object
order_purchase_timestamp         104485 non-null object
order_approved_at                104309 non-null object
order_delivered_carrier_date     102587 non-null object
order_delivered_customer_date    101331 non-null object
order_estimated_delivery_date    104485 non-null object
payment_sequential               104485 non-null int64
payment_type                     104485 non-null object
payment_installments             104485 non-null int64
payment_value                    104485 non-null float64
customer_unique_id               104485 non-null object
customer_zip_code_prefix         104485 non-null int64
customer_city                    104485 non-null object
customer_state                   104485 non-null object
review_id                        104485 non-null object
review_score                     104485 non-null int64
review_comment_title             12151 non-null object
review_comment_message           43623 non-null object
review_creation_date             104485 non-null object
review_answer_timestamp          104485 non-null object
dtypes: float64(1), int64(4), object(17)
memory usage: 18.3+ MB

In [7]:
#fourth merge previous 4 tables with order items table 

inner_merge4 = pd.merge(inner_merge3, df3, on = 'order_id', how = 'inner')

In [14]:
inner_merge4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118314
Data columns (total 28 columns):
order_id                         118315 non-null object
customer_id                      118315 non-null object
order_status                     118315 non-null object
order_purchase_timestamp         118315 non-null object
order_approved_at                118300 non-null object
order_delivered_carrier_date     117061 non-null object
order_delivered_customer_date    115727 non-null object
order_estimated_delivery_date    118315 non-null object
payment_sequential               118315 non-null int64
payment_type                     118315 non-null object
payment_installments             118315 non-null int64
payment_value                    118315 non-null float64
customer_unique_id               118315 non-null object
customer_zip_code_prefix         118315 non-null int64
customer_city                    118315 non-null object
customer_state                   118315 non-null object
review_id                        118315 non-null object
review_score                     118315 non-null int64
review_comment_title             14089 non-null object
review_comment_message           50665 non-null object
review_creation_date             118315 non-null object
review_answer_timestamp          118315 non-null object
order_item_id                    118315 non-null int64
product_id                       118315 non-null object
seller_id                        118315 non-null object
shipping_limit_date              118315 non-null object
price                            118315 non-null float64
freight_value                    118315 non-null float64
dtypes: float64(3), int64(5), object(20)
memory usage: 26.2+ MB

In [8]:
#fifth merge previous 5 tables with products table 

inner_merge5 = pd.merge(inner_merge4, df6, on = 'product_id', how = 'inner')

In [20]:
inner_merge5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118314
Data columns (total 36 columns):
order_id                         118315 non-null object
customer_id                      118315 non-null object
order_status                     118315 non-null object
order_purchase_timestamp         118315 non-null object
order_approved_at                118300 non-null object
order_delivered_carrier_date     117061 non-null object
order_delivered_customer_date    115727 non-null object
order_estimated_delivery_date    118315 non-null object
payment_sequential               118315 non-null int64
payment_type                     118315 non-null object
payment_installments             118315 non-null int64
payment_value                    118315 non-null float64
customer_unique_id               118315 non-null object
customer_zip_code_prefix         118315 non-null int64
customer_city                    118315 non-null object
customer_state                   118315 non-null object
review_id                        118315 non-null object
review_score                     118315 non-null int64
review_comment_title             14089 non-null object
review_comment_message           50665 non-null object
review_creation_date             118315 non-null object
review_answer_timestamp          118315 non-null object
order_item_id                    118315 non-null int64
product_id                       118315 non-null object
seller_id                        118315 non-null object
shipping_limit_date              118315 non-null object
price                            118315 non-null float64
freight_value                    118315 non-null float64
product_category_name            116606 non-null object
product_name_lenght              116606 non-null float64
product_description_lenght       116606 non-null float64
product_photos_qty               116606 non-null float64
product_weight_g                 118295 non-null float64
product_length_cm                118295 non-null float64
product_height_cm                118295 non-null float64
product_width_cm                 118295 non-null float64
dtypes: float64(10), int64(5), object(21)
memory usage: 33.4+ MB

In [17]:
#new dataframe***** testing 

new_olist_info=inner_merge5[['customer_unique_id','order_purchase_timestamp','order_id','payment_value','payment_installments', 'payment_type', 'price', 'review_score', 'freight_value', 'product_weight_g', 'customer_state', 'product_category_name']]

In [18]:
new_olist_info.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,product_category_name
0,7c396fd4830fd04220f754e42b4e5bff,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,credit_card,29.99,4,8.72,500.0,SP,utilidades_domesticas
1,7c396fd4830fd04220f754e42b4e5bff,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,2.00,1,voucher,29.99,4,8.72,500.0,SP,utilidades_domesticas
2,7c396fd4830fd04220f754e42b4e5bff,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,18.59,1,voucher,29.99,4,8.72,500.0,SP,utilidades_domesticas
3,3a51803cc0d012c3b5dc8b7528cb05f7,2017-08-15 18:29:31,128e10d95713541c87cd1a2e48201934,37.77,3,credit_card,29.99,4,7.78,500.0,SP,utilidades_domesticas
4,ef0996a1a279c26e7ecbd737be23d235,2017-08-02 18:24:47,0e7e841ddf8f8f2de2bad69267ecfbcf,37.77,1,credit_card,29.99,5,7.78,500.0,SP,utilidades_domesticas

In [19]:
products = new_olist_info['product_category_name'].value_counts()
products

cama_mesa_banho                                  11990
beleza_saude                                     10030
esporte_lazer                                     9005
moveis_decoracao                                  8833
informatica_acessorios                            8151
                                                 ...
portateis_cozinha_e_preparadores_de_alimentos       15
cds_dvds_musicais                                   14
pc_gamer                                            10
fashion_roupa_infanto_juvenil                        8
seguros_e_servicos                                   2
Name: product_category_name, Length: 73, dtype: int64

In [ ]:
----

In [9]:
#new dataframe 

olist_info=inner_merge5[['customer_unique_id','order_purchase_timestamp','order_id','payment_value','payment_installments', 'payment_type', 'price', 'review_score', 'freight_value', 'product_weight_g', 'customer_state']]

In [10]:
olist_info.isnull().sum().sum()

20

In [12]:
#drop

olist_df = olist_info.dropna()

In [13]:
#used to change date 

olist_df['order_purchase_timestamp'] = pd.to_datetime(olist_df['order_purchase_timestamp'])
olist_df['order_purchase_timestamp'] = olist_df.order_purchase_timestamp.dt.date
olist_df['order_purchase_timestamp'] = pd.to_datetime(olist_df['order_purchase_timestamp'])

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [15]:
olist_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118295 entries, 0 to 118314
Data columns (total 11 columns):
customer_unique_id          118295 non-null object
order_purchase_timestamp    118295 non-null datetime64[ns]
order_id                    118295 non-null object
payment_value               118295 non-null float64
payment_installments        118295 non-null int64
payment_type                118295 non-null object
price                       118295 non-null float64
review_score                118295 non-null int64
freight_value               118295 non-null float64
product_weight_g            118295 non-null float64
customer_state              118295 non-null object
dtypes: datetime64[ns](1), float64(4), int64(2), object(4)
memory usage: 10.8+ MB

In [16]:
olist_df.to_csv('olist_df.csv')

In [19]:
olist_df.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state
0,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,credit_card,29.99,4,8.72,500.0,SP
1,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,2.00,1,voucher,29.99,4,8.72,500.0,SP
2,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.59,1,voucher,29.99,4,8.72,500.0,SP
3,3a51803cc0d012c3b5dc8b7528cb05f7,2017-08-15,128e10d95713541c87cd1a2e48201934,37.77,3,credit_card,29.99,4,7.78,500.0,SP
4,ef0996a1a279c26e7ecbd737be23d235,2017-08-02,0e7e841ddf8f8f2de2bad69267ecfbcf,37.77,1,credit_card,29.99,5,7.78,500.0,SP

In [20]:
#testing pandasql, it works. grouped by unique customer id
groupby = "SELECT * FROM olist_df GROUP BY customer_unique_id"
test = ps.sqldf(groupby,locals())
test.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 00:00:00.000000,e22acc9c116caa3f2b7121bbb380d08e,141.90,8,credit_card,129.90,5,12.00,1500.0,SP
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 00:00:00.000000,3594e05a005ac4d06a72673270ef9ec9,27.19,1,credit_card,18.90,4,8.29,375.0,SP
2,0000f46a3911fa3c0805444483337064,2017-03-10 00:00:00.000000,b33ec3b699337181488304f362a6b734,86.22,8,credit_card,69.00,3,17.22,1500.0,SC
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 00:00:00.000000,41272756ecddd9a9ed0180413cc22fb6,43.62,4,credit_card,25.99,4,17.63,150.0,PA
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 00:00:00.000000,d957021f1127559cd947b62533f484f7,196.89,6,credit_card,180.00,5,16.89,6050.0,SP

In [24]:
#testing pandasql, it works 
q2 = "SELECT sum(payment_value) FROM olist_df where customer_unique_id = '7c396fd4830fd04220f754e42b4e5bff' GROUP BY customer_unique_id"
test = ps.sqldf(q2,locals())
test.head()

   sum(payment_value)
0               82.82

In [25]:
#testing pandasql, it works 
q3 = "SELECT payment_value FROM olist_df where customer_unique_id = '7c396fd4830fd04220f754e42b4e5bff' GROUP BY customer_unique_id"
test = ps.sqldf(q3,locals())
test.head()

   payment_value
0          18.12

In [33]:
#testing pandasql, it works 
q5 = "SELECT *, avg(review_score) as avg_review_score FROM olist_df where customer_unique_id = '7c396fd4830fd04220f754e42b4e5bff'"
test = ps.sqldf(q5,locals())
test.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,avg_review_score
0,7c396fd4830fd04220f754e42b4e5bff,2017-10-02 00:00:00.000000,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,credit_card,29.99,4,8.72,500.0,SP,4.25

In [34]:
#testing pandasql, it works 
q5 = "SELECT *, sum(payment_value) as lifetime_value, avg(review_score) as avg_review_score FROM olist_df GROUP BY customer_unique_id"
test = ps.sqldf(q5,locals())
test.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,lifetime_value,avg_review_score
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 00:00:00.000000,e22acc9c116caa3f2b7121bbb380d08e,141.90,8,credit_card,129.90,5,12.00,1500.0,SP,141.90,5.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 00:00:00.000000,3594e05a005ac4d06a72673270ef9ec9,27.19,1,credit_card,18.90,4,8.29,375.0,SP,27.19,4.0
2,0000f46a3911fa3c0805444483337064,2017-03-10 00:00:00.000000,b33ec3b699337181488304f362a6b734,86.22,8,credit_card,69.00,3,17.22,1500.0,SC,86.22,3.0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 00:00:00.000000,41272756ecddd9a9ed0180413cc22fb6,43.62,4,credit_card,25.99,4,17.63,150.0,PA,43.62,4.0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 00:00:00.000000,d957021f1127559cd947b62533f484f7,196.89,6,credit_card,180.00,5,16.89,6050.0,SP,196.89,5.0

In [37]:
#testing pandasql, it works 
q5 = "SELECT *,count(customer_unique_id), sum(payment_value) as lifetime_value, avg(review_score) as avg_review_score FROM olist_df GROUP BY customer_unique_id"
test10 = ps.sqldf(q5,locals())
test10.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,count(customer_unique_id),lifetime_value,avg_review_score
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 00:00:00.000000,e22acc9c116caa3f2b7121bbb380d08e,141.90,8,credit_card,129.90,5,12.00,1500.0,SP,1,141.90,5.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 00:00:00.000000,3594e05a005ac4d06a72673270ef9ec9,27.19,1,credit_card,18.90,4,8.29,375.0,SP,1,27.19,4.0
2,0000f46a3911fa3c0805444483337064,2017-03-10 00:00:00.000000,b33ec3b699337181488304f362a6b734,86.22,8,credit_card,69.00,3,17.22,1500.0,SC,1,86.22,3.0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 00:00:00.000000,41272756ecddd9a9ed0180413cc22fb6,43.62,4,credit_card,25.99,4,17.63,150.0,PA,1,43.62,4.0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 00:00:00.000000,d957021f1127559cd947b62533f484f7,196.89,6,credit_card,180.00,5,16.89,6050.0,SP,1,196.89,5.0

In [72]:
#USE THIS, DISREAD 6MONTH NAME ********************** 
#CAN USR AVG REVIEW SCORE, COUNT, CUSTOMER STATE AND MAYBE PAYMENT VALUE AS VARIABLES 

sixmonth_query = "SELECT *,count(customer_unique_id) as count, sum(payment_value) as lifetime_value, avg(review_score) as avg_review_score FROM olist_df GROUP BY customer_unique_id ORDER BY count desc"
sixmonth_test = ps.sqldf(sixmonth_query,locals())
sixmonth_test.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,count,lifetime_value,avg_review_score
0,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,1.27,1,voucher,45.20,5,26.97,15100.0,SP,75,556.13,5.000000
1,6fbc7cdadbb522125f4b27ae9dee4060,2017-09-23 00:00:00.000000,fedcd9f7ccdc8cba3a18defedd1a5547,10.66,1,voucher,79.99,5,22.88,5200.0,RJ,38,411.48,5.000000
2,f9ae226291893fda10af7965268fb7f6,2017-03-09 00:00:00.000000,c6492b842ac190db807c15aff21a7dd6,81.77,3,credit_card,189.90,4,22.80,5900.0,SP,35,946.47,3.685714
3,8af7ac63b2efbcbd88e5b11505e8098a,2017-04-20 00:00:00.000000,fa65dad1b0e818e3ccc5cb0e39231352,66.02,1,voucher,392.55,1,65.44,16400.0,MT,29,457.99,1.000000
4,569aa12b73b5f7edeaa6f2a01603e381,2017-06-07 00:00:00.000000,ccf804e764ed5650cd8759557269dc13,1.68,1,voucher,49.99,5,12.69,1100.0,SP,26,62.68,5.000000

In [106]:
#USE, THIS COULD BE THE MODEL, JUST USE IT AND FIGURE SOMETHING OUT
#VISUALIZATIONS CAN BE BAR CHARTS OF THE STATE, BUBBLE CHART OF THE PAYMENT TYPE(DO IN TABLEAU) AND DO A COUNT OF HOW MANY PPL ORDERED(MOST HAD 1 COUNT)
formula = 'lifetime_value ~ + avg_review_score + C(customer_state) + C(payment_type) + count'

fitted_model = smf.ols(formula=formula, data=sixmonth_test).fit()
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         lifetime_value   R-squared:                       0.161
Model:                            OLS   Adj. R-squared:                  0.160
Method:                 Least Squares   F-statistic:                     589.3
Date:                Sat, 07 Dec 2019   Prob (F-statistic):               0.00
Time:                        19:22:25   Log-Likelihood:            -7.4434e+05
No. Observations:               95406   AIC:                         1.489e+06
Df Residuals:                   95374   BIC:                         1.489e+06
Df Model:                          31
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                         13.8630     67.876      0.204      0.838    -119.174     146.900
C(customer_state)[T.AL]          -30.6580     73.654     -0.416      0.677    -175.019     113.703
C(customer_state)[T.AM]          -79.7552     83.743     -0.952      0.341    -243.890      84.380
C(customer_state)[T.AP]           -5.5577     98.858     -0.056      0.955    -199.319     188.203
C(customer_state)[T.BA]          -84.0921     68.225     -1.233      0.218    -217.813      49.629
C(customer_state)[T.CE]          -49.9020     69.396     -0.719      0.472    -185.917      86.113
C(customer_state)[T.DF]         -108.6352     68.681     -1.582      0.114    -243.249      25.979
C(customer_state)[T.ES]         -108.6139     68.747     -1.580      0.114    -243.357      26.130
C(customer_state)[T.GO]          -67.4371     68.757     -0.981      0.327    -202.200      67.326
C(customer_state)[T.MA]          -45.0926     70.954     -0.636      0.525    -184.162      93.977
C(customer_state)[T.MG]         -114.0378     67.664     -1.685      0.092    -246.658      18.582
C(customer_state)[T.MS]          -85.9019     71.105     -1.208      0.227    -225.267      53.464
C(customer_state)[T.MT]          -52.0362     70.350     -0.740      0.459    -189.922      85.849
C(customer_state)[T.PA]          -36.4564     70.129     -0.520      0.603    -173.909     100.996
C(customer_state)[T.PB]           23.9283     72.306      0.331      0.741    -117.791     165.648
C(customer_state)[T.PE]          -73.8365     69.034     -1.070      0.285    -209.142      61.469
C(customer_state)[T.PI]          -24.6029     72.640     -0.339      0.735    -166.977     117.771
C(customer_state)[T.PR]         -102.4181     67.967     -1.507      0.132    -235.632      30.796
C(customer_state)[T.RJ]         -106.3457     67.644     -1.572      0.116    -238.927      26.235
C(customer_state)[T.RN]          -69.9939     72.735     -0.962      0.336    -212.554      72.566
C(customer_state)[T.RO]          -43.1973     77.698     -0.556      0.578    -195.484     109.090
C(customer_state)[T.RR]          -42.2037    111.033     -0.380      0.704    -259.827     175.420
C(customer_state)[T.RS]         -110.0311     67.925     -1.620      0.105    -243.164      23.101
C(customer_state)[T.SC]         -101.5986     68.168     -1.490      0.136    -235.207      32.009
C(customer_state)[T.SE]          -49.3046     74.762     -0.659      0.510    -195.837      97.227
C(customer_state)[T.SP]         -136.6032     67.497     -2.024      0.043    -268.896      -4.311
C(customer_state)[T.TO]          -61.2556     76.383     -0.802      0.423    -210.965      88.454
C(payment_type)[T.credit_card]     1.7234      4.831      0.357      0.721      -7.746      11.193
C(payment_type)[T.debit_card]    -20.4213     15.993     -1.277      0.202     -51.766      10.924
C(payment_type)[T.voucher]      -423.0738     12.844    -32.940      0.000    -448.247    -397.900
avg_review_score                 -14.0660      1.442     -9.752      0.000     -16.893     -11.239
count                            307.0011      2.313    132.727      0.000     302.468     311.535
==============================================================================
Omnibus:                   347529.538   Durbin-Watson:                   1.896
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     566414387220.280
Skew:                          76.116   Prob(JB):                         0.00
Kurtosis:                   11938.747   Cond. No.                         853.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [104]:
bah = "SELECT *, count(*) over(partition by payment_type) as pt, count(customer_unique_id) as count, sum(payment_value) as lifetime_value, avg(review_score) as avg_review_score FROM olist_df GROUP BY customer_unique_id ORDER BY count desc"
eh = ps.sqldf(bah,locals())
eh.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,pt,count,lifetime_value,avg_review_score
0,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,1.27,1,voucher,45.20,5,26.97,15100.0,SP,2520,75,556.13,5.000000
1,6fbc7cdadbb522125f4b27ae9dee4060,2017-09-23 00:00:00.000000,fedcd9f7ccdc8cba3a18defedd1a5547,10.66,1,voucher,79.99,5,22.88,5200.0,RJ,2520,38,411.48,5.000000
2,f9ae226291893fda10af7965268fb7f6,2017-03-09 00:00:00.000000,c6492b842ac190db807c15aff21a7dd6,81.77,3,credit_card,189.90,4,22.80,5900.0,SP,72413,35,946.47,3.685714
3,8af7ac63b2efbcbd88e5b11505e8098a,2017-04-20 00:00:00.000000,fa65dad1b0e818e3ccc5cb0e39231352,66.02,1,voucher,392.55,1,65.44,16400.0,MT,2520,29,457.99,1.000000
4,569aa12b73b5f7edeaa6f2a01603e381,2017-06-07 00:00:00.000000,ccf804e764ed5650cd8759557269dc13,1.68,1,voucher,49.99,5,12.69,1100.0,SP,2520,26,62.68,5.000000

In [75]:
*****#THIS WONT WORK CAUSE ID IS GROUPED SO TRY DOING WINDOW FUNCTION TO GET 6 MONTHS, IF NOT THEN JUST MOVE ON 

testing = "SELECT *, min(order_purchase_timestamp) as first_order from sixmonth_test where customer_unique_id = '9a736b248f67d166d2fbb006bcb877c3'"
d1 = ps.sqldf(testing,locals())
d1.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,count,lifetime_value,avg_review_score,first_order
0,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,1.27,1,voucher,45.2,5,26.97,15100.0,SP,75,556.13,5.0,2017-07-27 00:00:00.000000

In [ ]:
wf = "SELECT *,count(customer_unique_id) OVER() as count, sum(payment_value * 1.0) OVER() as lifetime_value, avg(review_score * 1.0) OVER() as avg_review_score FROM olist_df GROUP BY customer_unique_id"
wf_test = ps.sqldf(wf,locals())
wf_test.head()

SELECT MemberID, LastName, FirstName, Handicap,
     AVG(Handicap * 1.0) OVER() AS Average,
     Handicap - AVG(Handicap *1.0) OVER() AS Difference
FROM Member;

In [101]:
#windows fuction is multiplying by the installments ldky when getting ltv

wf = "SELECT *,count(*) OVER(partition by customer_unique_id) as count, avg(payment_value) OVER(partition by payment_value) as lifetime_value, avg(review_score) OVER(partition by review_score) as avg_review_score FROM olist_df"
wf_test = ps.sqldf(wf,locals())
wf_test.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,count,lifetime_value,avg_review_score
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 00:00:00.000000,e22acc9c116caa3f2b7121bbb380d08e,141.90,8,credit_card,129.90,5,12.00,1500.0,SP,1,141.90,5.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 00:00:00.000000,3594e05a005ac4d06a72673270ef9ec9,27.19,1,credit_card,18.90,4,8.29,375.0,SP,1,27.19,4.0
2,0000f46a3911fa3c0805444483337064,2017-03-10 00:00:00.000000,b33ec3b699337181488304f362a6b734,86.22,8,credit_card,69.00,3,17.22,1500.0,SC,1,86.22,3.0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 00:00:00.000000,41272756ecddd9a9ed0180413cc22fb6,43.62,4,credit_card,25.99,4,17.63,150.0,PA,1,43.62,4.0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 00:00:00.000000,d957021f1127559cd947b62533f484f7,196.89,6,credit_card,180.00,5,16.89,6050.0,SP,1,196.89,5.0

In [103]:
wf_2 = "SELECT * from wf_test group by customer_unique_id order by count desc"
wf_test_2 = ps.sqldf(wf_2,locals())
wf_test_2.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,count,lifetime_value,avg_review_score
0,9a736b248f67d166d2fbb006bcb877c3,2017-08-08 00:00:00.000000,895ab968e7bb0d5659d16cd74cd1650c,0.24,1,voucher,12.99,5,23.21,1300.0,SP,75,0.24,5.0
1,6fbc7cdadbb522125f4b27ae9dee4060,2017-09-23 00:00:00.000000,fedcd9f7ccdc8cba3a18defedd1a5547,1.67,1,credit_card,79.99,5,22.88,5200.0,RJ,38,1.67,5.0
2,f9ae226291893fda10af7965268fb7f6,2017-03-11 00:00:00.000000,370e2e6c1a9fd451eb7f0852daa3b006,2.16,1,voucher,79.90,3,15.77,1100.0,SP,35,2.16,3.0
3,8af7ac63b2efbcbd88e5b11505e8098a,2017-04-20 00:00:00.000000,fa65dad1b0e818e3ccc5cb0e39231352,0.00,1,voucher,392.55,1,65.44,16400.0,MT,29,0.00,1.0
4,569aa12b73b5f7edeaa6f2a01603e381,2017-06-07 00:00:00.000000,ccf804e764ed5650cd8759557269dc13,0.97,1,voucher,49.99,5,12.69,1100.0,SP,26,0.97,5.0

In [91]:
wf1 = "SELECT customer_unique_id, order_purchase_timestamp, order_id, payment_value, payment_type, price, review_score, freight_value, product_weight_g, customer_state, count(*) OVER(partition by customer_unique_id) as count, SUM(payment_value) OVER(partition by payment_value) as lifetime_value, avg(review_score) OVER(partition by review_score) as avg_review_score FROM olist_df"
wf_test2 = ps.sqldf(wf1,locals())
wf_test2.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_type,price,review_score,freight_value,product_weight_g,customer_state,count,lifetime_value,avg_review_score
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 00:00:00.000000,e22acc9c116caa3f2b7121bbb380d08e,141.90,credit_card,129.90,5,12.00,1500.0,SP,1,1135.20,5.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 00:00:00.000000,3594e05a005ac4d06a72673270ef9ec9,27.19,credit_card,18.90,4,8.29,375.0,SP,1,299.09,4.0
2,0000f46a3911fa3c0805444483337064,2017-03-10 00:00:00.000000,b33ec3b699337181488304f362a6b734,86.22,credit_card,69.00,3,17.22,1500.0,SC,1,344.88,3.0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 00:00:00.000000,41272756ecddd9a9ed0180413cc22fb6,43.62,credit_card,25.99,4,17.63,150.0,PA,1,785.16,4.0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 00:00:00.000000,d957021f1127559cd947b62533f484f7,196.89,credit_card,180.00,5,16.89,6050.0,SP,1,393.78,5.0

In [92]:
customer_unique_id, order_purchase_timestamp, order_id, payment_value, payment_type, price, review_score, freight_value, product_weight_g, customer_state, count, lifetime_value, avg_review_score

NameError: name 'customer_unique_id' is not defined

In [83]:
q4 = "SELECT *, MIN() customer_unique_id = '0000366f3b9a7992bf8c76cfdf3221e2'"
out = ps.sqldf(q4,locals())
out.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,count,lifetime_value,avg_review_score
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 00:00:00.000000,e22acc9c116caa3f2b7121bbb380d08e,141.9,8,credit_card,129.9,5,12.0,1500.0,SP,1,1135.2,5.0

In [84]:
q5 = "SELECT * from olist_df where customer_unique_id = '0000366f3b9a7992bf8c76cfdf3221e2'"
out1 = ps.sqldf(q5,locals())
out1.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 00:00:00.000000,e22acc9c116caa3f2b7121bbb380d08e,141.9,8,credit_card,129.9,5,12.0,1500.0,SP

In [41]:
q5 = "SELECT *,count(customer_unique_id) as count, sum(payment_value) as lifetime_value, avg(review_score) as avg_review_score FROM olist_df GROUP BY customer_unique_id ORDER BY count desc"
test10 = ps.sqldf(q5,locals())
test10.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,count,lifetime_value,avg_review_score
0,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,1.27,1,voucher,45.20,5,26.97,15100.0,SP,75,556.13,5.000000
1,6fbc7cdadbb522125f4b27ae9dee4060,2017-09-23 00:00:00.000000,fedcd9f7ccdc8cba3a18defedd1a5547,10.66,1,voucher,79.99,5,22.88,5200.0,RJ,38,411.48,5.000000
2,f9ae226291893fda10af7965268fb7f6,2017-03-09 00:00:00.000000,c6492b842ac190db807c15aff21a7dd6,81.77,3,credit_card,189.90,4,22.80,5900.0,SP,35,946.47,3.685714
3,8af7ac63b2efbcbd88e5b11505e8098a,2017-04-20 00:00:00.000000,fa65dad1b0e818e3ccc5cb0e39231352,66.02,1,voucher,392.55,1,65.44,16400.0,MT,29,457.99,1.000000
4,569aa12b73b5f7edeaa6f2a01603e381,2017-06-07 00:00:00.000000,ccf804e764ed5650cd8759557269dc13,1.68,1,voucher,49.99,5,12.69,1100.0,SP,26,62.68,5.000000

In [51]:
#to figure out 6 months data
q5 = "SELECT *, min(order_purchase_timestamp) as first_order, count(customer_unique_id) as count, sum(payment_value) as lifetime_value, avg(review_score) as avg_review_score FROM olist_df GROUP BY customer_unique_id ORDER BY count desc"
test11 = ps.sqldf(q5,locals())
test11.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,first_order,count,lifetime_value,avg_review_score
0,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,1.27,1,voucher,45.20,5,26.97,15100.0,SP,2017-07-27 00:00:00.000000,75,556.13,5.000000
1,6fbc7cdadbb522125f4b27ae9dee4060,2017-09-23 00:00:00.000000,fedcd9f7ccdc8cba3a18defedd1a5547,10.66,1,voucher,79.99,5,22.88,5200.0,RJ,2017-09-23 00:00:00.000000,38,411.48,5.000000
2,f9ae226291893fda10af7965268fb7f6,2017-03-09 00:00:00.000000,c6492b842ac190db807c15aff21a7dd6,81.77,3,credit_card,189.90,4,22.80,5900.0,SP,2017-03-09 00:00:00.000000,35,946.47,3.685714
3,8af7ac63b2efbcbd88e5b11505e8098a,2017-04-20 00:00:00.000000,fa65dad1b0e818e3ccc5cb0e39231352,66.02,1,voucher,392.55,1,65.44,16400.0,MT,2017-04-20 00:00:00.000000,29,457.99,1.000000
4,569aa12b73b5f7edeaa6f2a01603e381,2017-06-07 00:00:00.000000,ccf804e764ed5650cd8759557269dc13,1.68,1,voucher,49.99,5,12.69,1100.0,SP,2017-06-07 00:00:00.000000,26,62.68,5.000000

In [66]:
#to figure out 6 months data
q5 = "SELECT  min(order_purchase_timestamp) as first_order, max(order_purchase_timestamp) as last_order, count(customer_unique_id) as count, sum(payment_value) as lifetime_value, avg(review_score) as avg_review_score FROM olist_df GROUP BY customer_unique_id ORDER BY count desc"
test12 = ps.sqldf(q5,locals())
test12.head()

,first_order,last_order,count,lifetime_value,avg_review_score
0,2017-07-27 00:00:00.000000,2017-08-08 00:00:00.000000,75,556.13,5.000000
1,2017-09-23 00:00:00.000000,2017-09-23 00:00:00.000000,38,411.48,5.000000
2,2017-03-09 00:00:00.000000,2017-03-11 00:00:00.000000,35,946.47,3.685714
3,2017-04-20 00:00:00.000000,2017-04-20 00:00:00.000000,29,457.99,1.000000
4,2017-06-07 00:00:00.000000,2017-06-07 00:00:00.000000,26,62.68,5.000000

In [70]:
q5 = "SELECT  * from test12"
test12 = ps.sqldf(q5,locals())
test12.head()

,first_order,last_order,count,lifetime_value,avg_review_score
0,2017-07-27 00:00:00.000000,2017-08-08 00:00:00.000000,75,556.13,5.000000
1,2017-09-23 00:00:00.000000,2017-09-23 00:00:00.000000,38,411.48,5.000000
2,2017-03-09 00:00:00.000000,2017-03-11 00:00:00.000000,35,946.47,3.685714
3,2017-04-20 00:00:00.000000,2017-04-20 00:00:00.000000,29,457.99,1.000000
4,2017-06-07 00:00:00.000000,2017-06-07 00:00:00.000000,26,62.68,5.000000

In [71]:
olist_df.to_csv('olist_data_6m.csv')

In [44]:
#WORKS, CAN DO REGRESSION ON QUERIES 

formula = 'lifetime_value ~ + avg_review_score'

fitted_model = smf.ols(formula=formula, data=test10).fit()
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         lifetime_value   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     383.5
Date:                Sat, 07 Dec 2019   Prob (F-statistic):           3.23e-85
Time:                        13:46:50   Log-Likelihood:            -7.5251e+05
No. Observations:               95406   AIC:                         1.505e+06
Df Residuals:                   95404   BIC:                         1.505e+06
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept          338.7261      6.703     50.532      0.000     325.588     351.864
avg_review_score   -30.5215      1.559    -19.582      0.000     -33.576     -27.467
==============================================================================
Omnibus:                   335198.034   Durbin-Watson:                   1.623
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     352110984099.410
Skew:                          68.323   Prob(JB):                         0.00
Kurtosis:                    9413.480   Cond. No.                         14.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
9a736b248f67d166d2fbb006bcb877c3

In [43]:
#testing pandasql, it works 
q3 = "SELECT * FROM olist_df where customer_unique_id = '9a736b248f67d166d2fbb006bcb877c3'"
test = ps.sqldf(q3,locals())
test.head(75)

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state
0,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,1.27,1,voucher,45.2,5,26.97,15100.0,SP
1,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,8.00,1,voucher,45.2,5,26.97,15100.0,SP
2,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,8.00,1,voucher,45.2,5,26.97,15100.0,SP
3,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,8.03,1,voucher,45.2,5,26.97,15100.0,SP
4,9a736b248f67d166d2fbb006bcb877c3,2017-07-27 00:00:00.000000,67d83bd36ec2c7fb557742fb58837659,0.74,1,voucher,45.2,5,26.97,15100.0,SP
...,...,...,...,...,...,...,...,...,...,...,...
70,9a736b248f67d166d2fbb006bcb877c3,2017-08-08 00:00:00.000000,895ab968e7bb0d5659d16cd74cd1650c,16.70,1,voucher,83.8,5,5.12,450.0,SP
71,9a736b248f67d166d2fbb006bcb877c3,2017-08-08 00:00:00.000000,895ab968e7bb0d5659d16cd74cd1650c,4.61,1,voucher,83.8,5,5.12,450.0,SP
72,9a736b248f67d166d2fbb006bcb877c3,2017-08-08 00:00:00.000000,895ab968e7bb0d5659d16cd74cd1650c,16.70,1,voucher,83.8,5,5.12,450.0,SP
73,9a736b248f67d166d2fbb006bcb877c3,2017-08-08 00:00:00.000000,895ab968e7bb0d5659d16cd74cd1650c,2.61,1,voucher,83.8,5,5.12,450.0,SP
74,9a736b248f67d166d2fbb006bcb877c3,2017-08-08 00:00:00.000000,895ab968e7bb0d5659d16cd74cd1650c,2.61,1,voucher,83.8,5,5.12,450.0,SP

In [40]:
test10.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,count(customer_unique_id),lifetime_value,avg_review_score
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 00:00:00.000000,e22acc9c116caa3f2b7121bbb380d08e,141.90,8,credit_card,129.90,5,12.00,1500.0,SP,1,141.90,5.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 00:00:00.000000,3594e05a005ac4d06a72673270ef9ec9,27.19,1,credit_card,18.90,4,8.29,375.0,SP,1,27.19,4.0
2,0000f46a3911fa3c0805444483337064,2017-03-10 00:00:00.000000,b33ec3b699337181488304f362a6b734,86.22,8,credit_card,69.00,3,17.22,1500.0,SC,1,86.22,3.0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 00:00:00.000000,41272756ecddd9a9ed0180413cc22fb6,43.62,4,credit_card,25.99,4,17.63,150.0,PA,1,43.62,4.0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 00:00:00.000000,d957021f1127559cd947b62533f484f7,196.89,6,credit_card,180.00,5,16.89,6050.0,SP,1,196.89,5.0

In [27]:
#testing pandasql, it works 
q4 = "SELECT *, SUM(payment_value) as lifetime_value FROM olist_df where customer_unique_id = '7c396fd4830fd04220f754e42b4e5bff' GROUP BY customer_unique_id"
test = ps.sqldf(q4,locals())
test.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state,lifetime_value
0,7c396fd4830fd04220f754e42b4e5bff,2017-10-02 00:00:00.000000,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,credit_card,29.99,4,8.72,500.0,SP,82.82

In [ ]:
#testing pandasql, it works 
q1 = "SELECT * FROM df5 Where customer_city = 'franca'"
test = ps.sqldf(q1,locals())
test.head()

In [ ]:
##how to group by unique id and show count as a new column (aggregate by payment_value?)
#how to get data from 1st 6 months of customer purchases 

#olist_df.to_csv('olist_data')

In [60]:
olist_df.to_csv('olist_data.csv')

In [17]:
olist_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118295 entries, 0 to 118314
Data columns (total 11 columns):
customer_unique_id          118295 non-null object
order_purchase_timestamp    118295 non-null datetime64[ns]
order_id                    118295 non-null object
payment_value               118295 non-null float64
payment_installments        118295 non-null int64
payment_type                118295 non-null object
price                       118295 non-null float64
review_score                118295 non-null int64
freight_value               118295 non-null float64
product_weight_g            118295 non-null float64
customer_state              118295 non-null object
dtypes: datetime64[ns](1), float64(4), int64(2), object(4)
memory usage: 10.8+ MB

In [52]:
olist_df.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state
0,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,credit_card,29.99,4,8.72,500.0,SP
1,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,2.00,1,voucher,29.99,4,8.72,500.0,SP
2,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.59,1,voucher,29.99,4,8.72,500.0,SP
3,3a51803cc0d012c3b5dc8b7528cb05f7,2017-08-15,128e10d95713541c87cd1a2e48201934,37.77,3,credit_card,29.99,4,7.78,500.0,SP
4,ef0996a1a279c26e7ecbd737be23d235,2017-08-02,0e7e841ddf8f8f2de2bad69267ecfbcf,37.77,1,credit_card,29.99,5,7.78,500.0,SP

In [ ]:
#1 - create new df of cust_id, sign_up_date, 6m_mark, group by min(date)
#2 - get cust_id, and 6month mark df, merge

In [ ]:
select distinct s

In [49]:
olist_df['customer_unique_id'].nunique()

95406

In [50]:
olist_df['customer_unique_id'].count()

118295

In [ ]:
#22,889 ppl ordered more than once (from data for all dates).

In [55]:
customer_unique_ids = olist_df.groupby('customer_unique_id')

In [56]:
olist_df.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,customer_state
0,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,credit_card,29.99,4,8.72,500.0,SP
1,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,2.00,1,voucher,29.99,4,8.72,500.0,SP
2,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.59,1,voucher,29.99,4,8.72,500.0,SP
3,3a51803cc0d012c3b5dc8b7528cb05f7,2017-08-15,128e10d95713541c87cd1a2e48201934,37.77,3,credit_card,29.99,4,7.78,500.0,SP
4,ef0996a1a279c26e7ecbd737be23d235,2017-08-02,0e7e841ddf8f8f2de2bad69267ecfbcf,37.77,1,credit_card,29.99,5,7.78,500.0,SP

In [46]:
formula = 'payment_value ~ + C(review_score) + freight_value + payment_installments + C(payment_type) + price'

fitted_model = smf.ols(formula=formula, data=olist_df).fit()
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          payment_value   R-squared:                       0.570
Model:                            OLS   Adj. R-squared:                  0.570
Method:                 Least Squares   F-statistic:                 1.568e+04
Date:                Fri, 06 Dec 2019   Prob (F-statistic):               0.00
Time:                        10:03:51   Log-Likelihood:            -7.7890e+05
No. Observations:              118295   AIC:                         1.558e+06
Df Residuals:                  118284   BIC:                         1.558e+06
Df Model:                          10
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                         92.0763      1.881     48.959      0.000      88.390      95.762
C(review_score)[T.2]             -28.4252      3.048     -9.325      0.000     -34.400     -22.450
C(review_score)[T.3]             -44.2579      2.252    -19.655      0.000     -48.671     -39.844
C(review_score)[T.4]             -56.8004      1.836    -30.945      0.000     -60.398     -53.203
C(review_score)[T.5]             -61.5591      1.568    -39.262      0.000     -64.632     -58.486
C(payment_type)[T.credit_card]   -39.1912      1.407    -27.852      0.000     -41.949     -36.433
C(payment_type)[T.debit_card]    -28.5694      4.403     -6.488      0.000     -37.200     -19.939
C(payment_type)[T.voucher]      -113.9591      2.486    -45.846      0.000    -118.831    -109.087
freight_value                      1.1941      0.036     33.602      0.000       1.124       1.264
payment_installments               7.2476      0.211     34.277      0.000       6.833       7.662
price                              1.0001      0.003    319.787      0.000       0.994       1.006
==============================================================================
Omnibus:                   292922.547   Durbin-Watson:                   0.514
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      11644005339.885
Skew:                          26.346   Prob(JB):                         0.00
Kurtosis:                    1539.096   Cond. No.                     1.93e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.93e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
-----------------------------------#old work below

In [38]:
#new column

olist_df['first_purchase'] = olist_df['order_purchase_timestamp']

In [42]:
olist_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118295 entries, 0 to 118314
Data columns (total 11 columns):
customer_unique_id          118295 non-null object
order_purchase_timestamp    118295 non-null datetime64[ns]
order_id                    118295 non-null object
payment_value               118295 non-null float64
payment_installments        118295 non-null int64
payment_type                118295 non-null object
price                       118295 non-null float64
review_score                118295 non-null int64
freight_value               118295 non-null float64
product_weight_g            118295 non-null float64
first_purchase              118295 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(2), object(3)
memory usage: 10.8+ MB

In [22]:
group_unique = olist_df.groupby('customer_unique_id')

In [21]:
formula = 'payment_value ~ order_purchase_timestamp + review_score + freight_value'

fitted_model = smf.ols(formula=formula, data=olist_df).fit()
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          payment_value   R-squared:                       0.169
Model:                            OLS   Adj. R-squared:                  0.165
Method:                 Least Squares   F-statistic:                     38.88
Date:                Fri, 06 Dec 2019   Prob (F-statistic):               0.00
Time:                        09:25:02   Log-Likelihood:            -8.1787e+05
No. Observations:              118295   AIC:                         1.637e+06
Df Residuals:                  117678   BIC:                         1.643e+06
Df Model:                         616
Covariance Type:            nonrobust
================================================================================================================================
                                                                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------------------
Intercept                                                      -49.0713    172.598     -0.284      0.776    -387.360     289.218
order_purchase_timestamp[T.Timestamp('2016-09-05 00:00:00')]    39.8713    298.937      0.133      0.894    -546.041     625.783
order_purchase_timestamp[T.Timestamp('2016-10-02 00:00:00')]   113.1629    298.938      0.379      0.705    -472.751     699.076
order_purchase_timestamp[T.Timestamp('2016-10-03 00:00:00')]    60.2381    192.966      0.312      0.755    -317.973     438.449
order_purchase_timestamp[T.Timestamp('2016-10-04 00:00:00')]   154.7564    174.854      0.885      0.376    -187.955     497.467
order_purchase_timestamp[T.Timestamp('2016-10-05 00:00:00')]   215.5071    175.449      1.228      0.219    -128.369     559.384
order_purchase_timestamp[T.Timestamp('2016-10-06 00:00:00')]   163.2576    175.546      0.930      0.352    -180.811     507.326
order_purchase_timestamp[T.Timestamp('2016-10-07 00:00:00')]   177.0464    175.822      1.007      0.314    -167.562     521.655
order_purchase_timestamp[T.Timestamp('2016-10-08 00:00:00')]   203.9556    176.232      1.157      0.247    -141.456     549.367
order_purchase_timestamp[T.Timestamp('2016-10-09 00:00:00')]   160.3339    177.325      0.904      0.366    -187.220     507.888
order_purchase_timestamp[T.Timestamp('2016-10-10 00:00:00')]    95.4784    176.232      0.542      0.588    -249.933     440.890
order_purchase_timestamp[T.Timestamp('2016-12-23 00:00:00')]    80.6583    298.945      0.270      0.787    -505.269     666.585
order_purchase_timestamp[T.Timestamp('2017-01-05 00:00:00')]    75.7500    177.916      0.426      0.670    -272.963     424.463
order_purchase_timestamp[T.Timestamp('2017-01-06 00:00:00')]    84.9231    192.973      0.440      0.660    -293.301     463.147
order_purchase_timestamp[T.Timestamp('2017-01-07 00:00:00')]   422.1012    204.215      2.067      0.039      21.844     822.359
order_purchase_timestamp[T.Timestamp('2017-01-08 00:00:00')]   123.8637    199.295      0.622      0.534    -266.752     514.479
order_purchase_timestamp[T.Timestamp('2017-01-09 00:00:00')]   130.8861    199.294      0.657      0.511    -259.728     521.500
order_purchase_timestamp[T.Timestamp('2017-01-10 00:00:00')]   215.1159    199.295      1.079      0.280    -175.500     605.731
order_purchase_timestamp[T.Timestamp('2017-01-11 00:00:00')]   205.7997    186.425      1.104      0.270    -159.591     571.190
order_purchase_timestamp[T.Timestamp('2017-01-12 00:00:00')]   203.8346    183.743      1.109      0.267    -156.299     563.968
order_purchase_timestamp[T.Timestamp('2017-01-13 00:00:00')]   198.3120    187.633      1.057      0.291    -169.445     566.069
order_purchase_timestamp[T.Timestamp('2017-01-14 00:00:00')]    43.9285    181.932      0.241      0.809    -312.654     400.511
order_purchase_timestamp[T.Timestamp('2017-01-15 00:00:00')]   168.3759    180.274      0.934      0.350    -184.958     521.710
order_purchase_timestamp[T.Timestamp('2017-01-16 00:00:00')]   217.7687    179.646      1.212      0.225    -134.334     569.872
order_purchase_timestamp[T.Timestamp('2017-01-17 00:00:00')]    88.0093    175.502      0.501      0.616    -255.971     431.990
order_purchase_timestamp[T.Timestamp('2017-01-18 00:00:00')]   115.9051    177.201      0.654      0.513    -231.405     463.215
order_purchase_timestamp[T.Timestamp('2017-01-19 00:00:00')]   165.7300    177.462      0.934      0.350    -182.093     513.553
order_purchase_timestamp[T.Timestamp('2017-01-20 00:00:00')]   220.7164    176.971      1.247      0.212    -126.144     567.577
order_purchase_timestamp[T.Timestamp('2017-01-21 00:00:00')]   165.6431    177.200      0.935      0.350    -181.665     512.951
order_purchase_timestamp[T.Timestamp('2017-01-22 00:00:00')]   154.3835    177.752      0.869      0.385    -194.008     502.775
order_purchase_timestamp[T.Timestamp('2017-01-23 00:00:00')]   156.3473    175.547      0.891      0.373    -187.722     500.416
order_purchase_timestamp[T.Timestamp('2017-01-24 00:00:00')]   203.5100    176.394      1.154      0.249    -142.219     549.239
order_purchase_timestamp[T.Timestamp('2017-01-25 00:00:00')]   150.6335    174.978      0.861      0.389    -192.321     493.588
order_purchase_timestamp[T.Timestamp('2017-01-26 00:00:00')]   167.4744    174.148      0.962      0.336    -173.853     508.802
order_purchase_timestamp[T.Timestamp('2017-01-27 00:00:00')]   198.2464    174.798      1.134      0.257    -144.355     540.847
order_purchase_timestamp[T.Timestamp('2017-01-28 00:00:00')]   119.2604    176.759      0.675      0.500    -227.184     465.705
order_purchase_timestamp[T.Timestamp('2017-01-29 00:00:00')]   177.3287    176.312      1.006      0.315    -168.241     522.898
order_purchase_timestamp[T.Timestamp('2017-01-30 00:00:00')]   353.6004    174.827      2.023      0.043      10.943     696.258
order_purchase_timestamp[T.Timestamp('2017-01-31 00:00:00')]   178.6561    174.527      1.024      0.306    -163.415     520.727
order_purchase_timestamp[T.Timestamp('2017-02-01 00:00:00')]   121.8948    174.915      0.697      0.486    -220.937     464.726
order_purchase_timestamp[T.Timestamp('2017-02-02 00:00:00')]   132.4269    174.886      0.757      0.449    -210.347     475.201
order_purchase_timestamp[T.Timestamp('2017-02-03 00:00:00')]   166.9447    175.194      0.953      0.341    -176.433     510.322
order_purchase_timestamp[T.Timestamp('2017-02-04 00:00:00')]   167.0152    174.854      0.955      0.339    -175.697     509.727
order_purchase_timestamp[T.Timestamp('2017-02-05 00:00:00')]   123.9972    174.641      0.710      0.478    -218.297     466.291
order_purchase_timestamp[T.Timestamp('2017-02-06 00:00:00')]   125.6088    174.528      0.720      0.472    -216.463     467.680
order_purchase_timestamp[T.Timestamp('2017-02-07 00:00:00')]   146.3350    173.786      0.842      0.400    -194.284     486.954
order_purchase_timestamp[T.Timestamp('2017-02-08 00:00:00')]   126.7442    174.251      0.727      0.467    -214.785     468.274
order_purchase_timestamp[T.Timestamp('2017-02-09 00:00:00')]   108.9954    174.424      0.625      0.532    -232.873     450.864
order_purchase_timestamp[T.Timestamp('2017-02-10 00:00:00')]   213.7874    174.855      1.223      0.221    -128.926     556.501
order_purchase_timestamp[T.Timestamp('2017-02-11 00:00:00')]   113.6594    175.952      0.646      0.518    -231.203     458.522
order_purchase_timestamp[T.Timestamp('2017-02-12 00:00:00')]   209.1211    175.047      1.195      0.232    -133.969     552.211
order_purchase_timestamp[T.Timestamp('2017-02-13 00:00:00')]   123.7301    174.462      0.709      0.478    -218.214     465.674
order_purchase_timestamp[T.Timestamp('2017-02-14 00:00:00')]   190.8661    174.594      1.093      0.274    -151.335     533.067
order_purchase_timestamp[T.Timestamp('2017-02-15 00:00:00')]   105.0286    175.194      0.599      0.549    -238.349     448.406
order_purchase_timestamp[T.Timestamp('2017-02-16 00:00:00')]   123.1880    175.500      0.702      0.483    -220.789     467.165
order_purchase_timestamp[T.Timestamp('2017-02-17 00:00:00')]   162.5111    175.498      0.926      0.354    -181.462     506.484
order_purchase_timestamp[T.Timestamp('2017-02-18 00:00:00')]   180.3253    175.157      1.030      0.303    -162.979     523.630
order_purchase_timestamp[T.Timestamp('2017-02-19 00:00:00')]    96.9625    176.015      0.551      0.582    -248.024     441.949
order_purchase_timestamp[T.Timestamp('2017-02-20 00:00:00')]   137.0093    174.946      0.783      0.434    -205.883     479.901
order_purchase_timestamp[T.Timestamp('2017-02-21 00:00:00')]   186.5128    176.084      1.059      0.289    -158.609     531.635
order_purchase_timestamp[T.Timestamp('2017-02-22 00:00:00')]   127.9715    174.883      0.732      0.464    -214.797     470.740
order_purchase_timestamp[T.Timestamp('2017-02-23 00:00:00')]   162.0253    174.885      0.926      0.354    -180.746     504.796
order_purchase_timestamp[T.Timestamp('2017-02-24 00:00:00')]   104.0526    174.466      0.596      0.551    -237.898     446.003
order_purchase_timestamp[T.Timestamp('2017-02-25 00:00:00')]   131.7896    176.156      0.748      0.454    -213.473     477.053
order_purchase_timestamp[T.Timestamp('2017-02-26 00:00:00')]   112.2542    175.823      0.638      0.523    -232.355     456.864
order_purchase_timestamp[T.Timestamp('2017-02-27 00:00:00')]   122.6076    175.548      0.698      0.485    -221.465     466.680
order_purchase_timestamp[T.Timestamp('2017-02-28 00:00:00')]   217.9537    175.155      1.244      0.213    -125.347     561.254
order_purchase_timestamp[T.Timestamp('2017-03-01 00:00:00')]   145.8131    174.008      0.838      0.402    -195.240     486.866
order_purchase_timestamp[T.Timestamp('2017-03-02 00:00:00')]   163.1105    174.743      0.933      0.351    -179.383     505.604
order_purchase_timestamp[T.Timestamp('2017-03-03 00:00:00')]   174.9017    174.666      1.001      0.317    -167.441     517.244
order_purchase_timestamp[T.Timestamp('2017-03-04 00:00:00')]   153.4754    174.444      0.880      0.379    -188.433     495.383
order_purchase_timestamp[T.Timestamp('2017-03-05 00:00:00')]   112.4834    174.427      0.645      0.519    -229.390     454.357
order_purchase_timestamp[T.Timestamp('2017-03-06 00:00:00')]   115.3773    174.055      0.663      0.507    -225.768     456.523
order_purchase_timestamp[T.Timestamp('2017-03-07 00:00:00')]   169.9469    174.235      0.975      0.329    -171.551     511.445
order_purchase_timestamp[T.Timestamp('2017-03-08 00:00:00')]   194.7777    174.425      1.117      0.264    -147.092     536.647
order_purchase_timestamp[T.Timestamp('2017-03-09 00:00:00')]   122.9395    173.818      0.707      0.479    -217.741     463.620
order_purchase_timestamp[T.Timestamp('2017-03-10 00:00:00')]   132.2094    174.220      0.759      0.448    -209.259     473.678
order_purchase_timestamp[T.Timestamp('2017-03-11 00:00:00')]   137.6915    174.405      0.789      0.430    -204.139     479.522
order_purchase_timestamp[T.Timestamp('2017-03-12 00:00:00')]   114.0973    174.916      0.652      0.514    -228.735     456.929
order_purchase_timestamp[T.Timestamp('2017-03-13 00:00:00')]   139.2073    173.941      0.800      0.424    -201.714     480.129
order_purchase_timestamp[T.Timestamp('2017-03-14 00:00:00')]   160.1338    174.030      0.920      0.357    -180.963     501.231
order_purchase_timestamp[T.Timestamp('2017-03-15 00:00:00')]   138.6708    173.836      0.798      0.425    -202.045     479.387
order_purchase_timestamp[T.Timestamp('2017-03-16 00:00:00')]   172.9077    173.951      0.994      0.320    -168.034     513.850
order_purchase_timestamp[T.Timestamp('2017-03-17 00:00:00')]   169.8990    174.666      0.973      0.331    -172.443     512.242
order_purchase_timestamp[T.Timestamp('2017-03-18 00:00:00')]   181.6662    174.691      1.040      0.298    -160.725     524.057
order_purchase_timestamp[T.Timestamp('2017-03-19 00:00:00')]   125.6800    175.452      0.716      0.474    -218.203     469.563
order_purchase_timestamp[T.Timestamp('2017-03-20 00:00:00')]   160.7689    173.942      0.924      0.355    -180.155     501.692
order_purchase_timestamp[T.Timestamp('2017-03-21 00:00:00')]   128.8773    174.133      0.740      0.459    -212.420     470.175
order_purchase_timestamp[T.Timestamp('2017-03-22 00:00:00')]   147.3185    173.911      0.847      0.397    -193.544     488.181
order_purchase_timestamp[T.Timestamp('2017-03-23 00:00:00')]   186.4802    173.846      1.073      0.283    -154.255     527.215
order_purchase_timestamp[T.Timestamp('2017-03-24 00:00:00')]   148.9202    174.594      0.853      0.394    -193.281     491.122
order_purchase_timestamp[T.Timestamp('2017-03-25 00:00:00')]   146.7136    174.463      0.841      0.400    -195.232     488.659
order_purchase_timestamp[T.Timestamp('2017-03-26 00:00:00')]    97.4879    174.884      0.557      0.577    -245.282     440.258
order_purchase_timestamp[T.Timestamp('2017-03-27 00:00:00')]   147.7795    173.997      0.849      0.396    -193.251     488.810
order_purchase_timestamp[T.Timestamp('2017-03-28 00:00:00')]   129.4101    174.020      0.744      0.457    -211.665     470.486
order_purchase_timestamp[T.Timestamp('2017-03-29 00:00:00')]   135.6566    174.617      0.777      0.437    -206.591     477.904
order_purchase_timestamp[T.Timestamp('2017-03-30 00:00:00')]   160.7866    174.527      0.921      0.357    -181.284     502.857
order_purchase_timestamp[T.Timestamp('2017-03-31 00:00:00')]   163.5372    174.915      0.935      0.350    -179.294     506.368
order_purchase_timestamp[T.Timestamp('2017-04-01 00:00:00')]   265.3516    175.048      1.516      0.130     -77.740     608.443
order_purchase_timestamp[T.Timestamp('2017-04-02 00:00:00')]   222.6753    174.827      1.274      0.203    -119.983     565.334
order_purchase_timestamp[T.Timestamp('2017-04-03 00:00:00')]   140.2989    174.368      0.805      0.421    -201.460     482.058
order_purchase_timestamp[T.Timestamp('2017-04-04 00:00:00')]   145.2135    174.056      0.834      0.404    -195.934     486.361
order_purchase_timestamp[T.Timestamp('2017-04-05 00:00:00')]   189.0287    174.162      1.085      0.278    -152.326     530.383
order_purchase_timestamp[T.Timestamp('2017-04-06 00:00:00')]   339.1024    174.092      1.948      0.051      -2.115     680.319
order_purchase_timestamp[T.Timestamp('2017-04-07 00:00:00')]   157.3273    174.316      0.903      0.367    -184.330     498.984
order_purchase_timestamp[T.Timestamp('2017-04-08 00:00:00')]   128.4870    174.690      0.736      0.462    -213.903     470.877
order_purchase_timestamp[T.Timestamp('2017-04-09 00:00:00')]   123.6603    174.796      0.707      0.479    -218.938     466.259
order_purchase_timestamp[T.Timestamp('2017-04-10 00:00:00')]   141.4648    174.405      0.811      0.417    -200.367     483.296
order_purchase_timestamp[T.Timestamp('2017-04-11 00:00:00')]   114.8213    174.407      0.658      0.510    -227.013     456.655
order_purchase_timestamp[T.Timestamp('2017-04-12 00:00:00')]   134.0820    175.155      0.766      0.444    -209.218     477.382
order_purchase_timestamp[T.Timestamp('2017-04-13 00:00:00')]   146.7144    175.233      0.837      0.402    -196.740     490.169
order_purchase_timestamp[T.Timestamp('2017-04-14 00:00:00')]   132.4899    175.450      0.755      0.450    -211.389     476.369
order_purchase_timestamp[T.Timestamp('2017-04-15 00:00:00')]   155.9561    175.600      0.888      0.374    -188.217     500.129
order_purchase_timestamp[T.Timestamp('2017-04-16 00:00:00')]   112.1956    175.765      0.638      0.523    -232.301     456.692
order_purchase_timestamp[T.Timestamp('2017-04-17 00:00:00')]   136.5805    175.011      0.780      0.435    -206.439     479.600
order_purchase_timestamp[T.Timestamp('2017-04-18 00:00:00')]   222.2168    174.425      1.274      0.203    -119.654     564.088
order_purchase_timestamp[T.Timestamp('2017-04-19 00:00:00')]   145.3806    174.066      0.835      0.404    -195.787     486.548
order_purchase_timestamp[T.Timestamp('2017-04-20 00:00:00')]    45.3285    173.712      0.261      0.794    -295.144     385.801
order_purchase_timestamp[T.Timestamp('2017-04-21 00:00:00')]   107.9027    174.483      0.618      0.536    -234.081     449.887
order_purchase_timestamp[T.Timestamp('2017-04-22 00:00:00')]   150.8345    174.299      0.865      0.387    -190.789     492.458
order_purchase_timestamp[T.Timestamp('2017-04-23 00:00:00')]   124.6892    174.465      0.715      0.475    -217.259     466.637
order_purchase_timestamp[T.Timestamp('2017-04-24 00:00:00')]   192.0719    173.792      1.105      0.269    -148.557     532.701
order_purchase_timestamp[T.Timestamp('2017-04-25 00:00:00')]   139.8053    173.974      0.804      0.422    -201.181     480.792
order_purchase_timestamp[T.Timestamp('2017-04-26 00:00:00')]   131.7018    173.761      0.758      0.448    -208.866     472.270
order_purchase_timestamp[T.Timestamp('2017-04-27 00:00:00')]   131.1280    174.235      0.753      0.452    -210.371     472.627
order_purchase_timestamp[T.Timestamp('2017-04-28 00:00:00')]   159.3214    174.119      0.915      0.360    -181.949     500.592
order_purchase_timestamp[T.Timestamp('2017-04-29 00:00:00')]   175.7777    174.548      1.007      0.314    -166.334     517.889
order_purchase_timestamp[T.Timestamp('2017-04-30 00:00:00')]   123.4817    174.980      0.706      0.480    -219.476     466.439
order_purchase_timestamp[T.Timestamp('2017-05-01 00:00:00')]   111.8868    173.777      0.644      0.520    -228.713     452.487
order_purchase_timestamp[T.Timestamp('2017-05-02 00:00:00')]   141.2276    173.793      0.813      0.416    -199.405     481.860
order_purchase_timestamp[T.Timestamp('2017-05-03 00:00:00')]   101.3653    174.043      0.582      0.560    -239.757     442.488
order_purchase_timestamp[T.Timestamp('2017-05-04 00:00:00')]   150.9381    173.997      0.867      0.386    -190.094     491.970
order_purchase_timestamp[T.Timestamp('2017-05-05 00:00:00')]   120.8380    173.872      0.695      0.487    -219.948     461.624
order_purchase_timestamp[T.Timestamp('2017-05-06 00:00:00')]   153.2329    173.873      0.881      0.378    -187.556     494.022
order_purchase_timestamp[T.Timestamp('2017-05-07 00:00:00')]   141.3783    173.952      0.813      0.416    -199.565     482.322
order_purchase_timestamp[T.Timestamp('2017-05-08 00:00:00')]   158.7646    173.770      0.914      0.361    -181.823     499.352
order_purchase_timestamp[T.Timestamp('2017-05-09 00:00:00')]   217.8108    173.655      1.254      0.210    -122.550     558.171
order_purchase_timestamp[T.Timestamp('2017-05-10 00:00:00')]   237.6212    173.902      1.366      0.172    -103.223     578.466
order_purchase_timestamp[T.Timestamp('2017-05-11 00:00:00')]   144.0372    173.777      0.829      0.407    -196.562     484.637
order_purchase_timestamp[T.Timestamp('2017-05-12 00:00:00')]    98.8191    173.751      0.569      0.570    -241.730     439.369
order_purchase_timestamp[T.Timestamp('2017-05-13 00:00:00')]   125.3359    174.570      0.718      0.473    -216.818     467.490
order_purchase_timestamp[T.Timestamp('2017-05-14 00:00:00')]   140.4721    173.882      0.808      0.419    -200.335     481.279
order_purchase_timestamp[T.Timestamp('2017-05-15 00:00:00')]   123.7619    173.486      0.713      0.476    -216.267     463.791
order_purchase_timestamp[T.Timestamp('2017-05-16 00:00:00')]   151.2798    173.495      0.872      0.383    -188.769     491.328
order_purchase_timestamp[T.Timestamp('2017-05-17 00:00:00')]   125.0509    173.583      0.720      0.471    -215.169     465.271

In [40]:
olist_df.head()

,customer_unique_id,order_purchase_timestamp,order_id,payment_value,payment_installments,payment_type,price,review_score,freight_value,product_weight_g,first_purchase
0,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.12,1,credit_card,29.99,4,8.72,500.0,2017-10-02
1,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,2.00,1,voucher,29.99,4,8.72,500.0,2017-10-02
2,7c396fd4830fd04220f754e42b4e5bff,2017-10-02,e481f51cbdc54678b7cc49136f2d6af7,18.59,1,voucher,29.99,4,8.72,500.0,2017-10-02
3,3a51803cc0d012c3b5dc8b7528cb05f7,2017-08-15,128e10d95713541c87cd1a2e48201934,37.77,3,credit_card,29.99,4,7.78,500.0,2017-08-15
4,ef0996a1a279c26e7ecbd737be23d235,2017-08-02,0e7e841ddf8f8f2de2bad69267ecfbcf,37.77,1,credit_card,29.99,5,7.78,500.0,2017-08-02

In [41]:
olist_df['first_purchase'].min()

Timestamp('2016-09-04 00:00:00')

In [ ]:
----------

In [17]:
##### #working on for capostone 3, merged orders, order_payments, order_items, products tables 

order_payments_products_merge = pd.merge(inner_merge2, df6, on = 'product_id', how = 'inner')

In [18]:
order_payments_products_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117601 entries, 0 to 117600
Data columns (total 26 columns):
order_id                         117601 non-null object
customer_id                      117601 non-null object
order_status                     117601 non-null object
order_purchase_timestamp         117601 non-null object
order_approved_at                117586 non-null object
order_delivered_carrier_date     116356 non-null object
order_delivered_customer_date    115034 non-null object
order_estimated_delivery_date    117601 non-null object
payment_sequential               117601 non-null int64
payment_type                     117601 non-null object
payment_installments             117601 non-null int64
payment_value                    117601 non-null float64
order_item_id                    117601 non-null int64
product_id                       117601 non-null object
seller_id                        117601 non-null object
shipping_limit_date              117601 non-null object
price                            117601 non-null float64
freight_value                    117601 non-null float64
product_category_name            115903 non-null object
product_name_lenght              115903 non-null float64
product_description_lenght       115903 non-null float64
product_photos_qty               115903 non-null float64
product_weight_g                 117581 non-null float64
product_length_cm                117581 non-null float64
product_height_cm                117581 non-null float64
product_width_cm                 117581 non-null float64
dtypes: float64(10), int64(3), object(13)
memory usage: 24.2+ MB

In [19]:
order_payments_products_merge.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,...,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,credit_card,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3,voucher,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2,voucher,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1,credit_card,...,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1,credit_card,...,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0

In [20]:
order_payments_products_merge.isnull().sum().sum()

10699

In [21]:
olist_data = order_payments_products_merge.dropna()

In [23]:
#used to change date to dt

olist_data['order_purchase_timestamp'] = pd.to_datetime(olist_data['order_purchase_timestamp'])
olist_data['order_purchase_timestamp'] = olist_data.order_purchase_timestamp.dt.date
olist_data['order_purchase_timestamp'] = pd.to_datetime(olist_data['order_purchase_timestamp'])

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [26]:
olist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113390 entries, 0 to 117600
Data columns (total 27 columns):
order_id                         113390 non-null object
customer_id                      113390 non-null object
order_status                     113390 non-null object
order_purchase_timestamp         113390 non-null datetime64[ns]
order_approved_at                113390 non-null object
order_delivered_carrier_date     113390 non-null object
order_delivered_customer_date    113390 non-null object
order_estimated_delivery_date    113390 non-null object
payment_sequential               113390 non-null int64
payment_type                     113390 non-null object
payment_installments             113390 non-null int64
payment_value                    113390 non-null float64
order_item_id                    113390 non-null int64
product_id                       113390 non-null object
seller_id                        113390 non-null object
shipping_limit_date              113390 non-null object
price                            113390 non-null float64
freight_value                    113390 non-null float64
product_category_name            113390 non-null object
product_name_lenght              113390 non-null float64
product_description_lenght       113390 non-null float64
product_photos_qty               113390 non-null float64
product_weight_g                 113390 non-null float64
product_length_cm                113390 non-null float64
product_height_cm                113390 non-null float64
product_width_cm                 113390 non-null float64
total_payment                    113390 non-null float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(12)
memory usage: 24.2+ MB

In [25]:
#Calulate total purchase
olist_data['total_payment'] = olist_data['payment_value'] * olist_data['payment_installments']

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# question below

In [27]:
#*****question on how to have first 6 months data 


#USE, cltv_data gives correct days subtracted 

cltv_data = olist_data.groupby('customer_id').agg({'order_purchase_timestamp': lambda y: (olist_data['order_purchase_timestamp'].min().date() + 180).days,
                                        'order_id': lambda num: len(num),
                                        'payment_value': lambda quant: quant.sum(),
                                        'total_payment': lambda price: price.sum()})

In [43]:
#test
 

cltv_data_test = olist_data.groupby('customer_id').agg({'order_purchase_timestamp': lambda y: (olist_data['order_purchase_timestamp'].max().date() - y.max().date()).days,
                                        'order_id': lambda num: len(num),
                                        'price': lambda var: len(var),
                                        'payment_value': lambda quant: quant.sum(),
                                        'total_payment': lambda price: price.sum()})

In [42]:
cltv_data_test.tail()

,order_purchase_timestamp,order_id,payment_installments,payment_value,total_payment
customer_id,,,,,
fffcb937e9dd47a13f05ecb8290f4d3e,165,1,1,91.91,551.46
fffecc9f79fd8c764f843e9951b11341,153,3,3,81.36,81.36
fffeda5b6d849fbd39689bb92087f431,99,1,1,63.13,189.39
ffff42319e9b2d713724ae527742af25,77,1,1,214.13,428.26
ffffa3172527f765de70084a7e53aae8,361,2,2,91.00,364.00

In [38]:
#test

variables_data=cltv_data_test[['order_purchase_timestamp','order_id','payment_value','total_payment']]

In [39]:
variables_data.head()

,order_purchase_timestamp,order_id,payment_value,total_payment
customer_id,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,917.92
000161a058600d5901f007fab4c27140,409,1,67.41,337.05
0001fd6190edaaf884bcaf3d49edf079,547,1,195.42,1954.20
0002414f95344307404f0ace7a26f1d5,378,1,179.35,179.35
000379cdec625522490c315e70c7a9fb,149,1,107.01,107.01

In [29]:
cltv_data.head()

,order_purchase_timestamp,order_id,payment_value,total_payment
customer_id,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,917.92
000161a058600d5901f007fab4c27140,409,1,67.41,337.05
0001fd6190edaaf884bcaf3d49edf079,547,1,195.42,1954.20
0002414f95344307404f0ace7a26f1d5,378,1,179.35,179.35
000379cdec625522490c315e70c7a9fb,149,1,107.01,107.01

In [31]:
# Change the name of columns
cltv_data.columns=['num_days','num_transactions','payment_value','total_spent']
cltv_data.head()

,num_days,num_transactions,payment_value,total_spent
customer_id,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,917.92
000161a058600d5901f007fab4c27140,409,1,67.41,337.05
0001fd6190edaaf884bcaf3d49edf079,547,1,195.42,1954.20
0002414f95344307404f0ace7a26f1d5,378,1,179.35,179.35
000379cdec625522490c315e70c7a9fb,149,1,107.01,107.01

In [32]:
# Average Order Value
cltv_data['avg_order_value']=cltv_data['total_spent']/cltv_data['num_transactions']

In [33]:
formula = 'total_spent ~ num_days + payment_value + avg_order_value'

fitted_model = smf.ols(formula=formula, data=cltv_data).fit()
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            total_spent   R-squared:                       0.661
Model:                            OLS   Adj. R-squared:                  0.661
Method:                 Least Squares   F-statistic:                 6.176e+04
Date:                Thu, 05 Dec 2019   Prob (F-statistic):               0.00
Time:                        16:00:39   Log-Likelihood:            -8.5298e+05
No. Observations:               95128   AIC:                         1.706e+06
Df Residuals:                   95124   BIC:                         1.706e+06
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        -300.9182     11.703    -25.713      0.000    -323.856    -277.980
num_days           -0.0119      0.040     -0.295      0.768      -0.091       0.067
payment_value       2.2308      0.011    206.910      0.000       2.210       2.252
avg_order_value     1.0659      0.004    262.553      0.000       1.058       1.074
==============================================================================
Omnibus:                   301308.336   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     174875936230.883
Skew:                          50.311   Prob(JB):                         0.00
Kurtosis:                    6644.507   Cond. No.                     3.44e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.44e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
-------------------------------